.image {
  max-width: 80%;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  /* border: 2px solid red; */
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.yes-button {
  background-color: #4CAF50; /* Green */
}
.no-button {
  background-color: red;
}

.circle {
  border-radius: 100%;
}

#toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #999; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds  */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.6s;
  animation: fadein 0.5s, fadeout 0.5s 2.6s;
}
